* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
button {
  outline: none;
}

.time-select,
.sound-picker {
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}
.time-select button,
.sound-picker button {
  color: white;
  width: 30%;
  height: 10%;
  background: none;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid white;
  transition: all 0.5s ease;
}

.sound-picker button {
  border: none;
  height: 120px;
  width: 120px;
  padding: 30px;
  border-radius: 50%;
}
.sound-picker button:nth-child(1) {
  background: #4972a1;
}
.sound-picker button:nth-child(2) {
  background: #a14f49;
}
.sound-picker button img {
  height: 100%;
}

.time-select button:hover {
  background: white;
  color: black;
}

.player-container {
  position: relative;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

i {
  border: solid white;
  border-width: 0 9px 9px 0;
  display: inline-block;
  padding: 9px;
  position: absolute;
  top: 48%;
  right: 5%;
  opacity: 50%;
  cursor: pointer;
}
i:hover{
box-shadow: 2px 2px 3px white;
}

i:active {
  border-color: gray;
  box-shadow: none;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.player-container .play{
  position: absolute;
  height: 20%;
  top: 41%;
  left: 40%;
  
}
.player-container .replay {
  position: absolute;
  height: 20%;
  bottom: 0;
  left: 40%;
  opacity: 40%;
  cursor: pointer;
}
.player-container .replay:hover {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.295);
  opacity: 90%;
}
.player-container .replay:active {
  background-color: gray;
}

.player-container svg {
  position: absolute;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none;
}
.player-container svg circle {
  transition: all 0.2s ease-in-out;
}
.time-display {
  color: white;
  position: absolute;
  font-size: 50px;
  top: 10%;
  opacity: 80%;
}

video {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: -10;
}
