* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
button {
  outline: none;
}

.time-select,
.sound-picker {
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}
.time-select button,
.sound-picker button {
  color: white;
  width: 30%;
  height: 10%;
  background: none;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid white;
  transition: all 0.5s ease;
}

.sound-picker button {
  border: none;
  height: 120px;
  width: 120px;
  padding: 30px;
  border-radius: 50%;
}
.sound-picker button:nth-child(1) {
  background: #4972a1;
}
.sound-picker button:nth-child(2) {
  background: #a14f49;
}
.sound-picker button img {
  height: 100%;
}

.time-select button:hover {
  background: white;
  color: black;
}

.player-container {
  position: relative;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

i {
  border: solid white;
  border-width: 0 9px 9px 0;
  display: inline-block;
  padding: 9px;
  position: absolute;
  top: 48%;
  right: 5%;
  opacity: 50%;
  cursor: pointer;
}
i.arrow-right.right {
  border: solid white;
  border-width: 0 9px 9px 0;
  display: inline-block;
  padding: 9px;
  position: absolute;
  top: 48%;
  right: 0;
  opacity: 50%;
  cursor: pointer;
}

i:hover{
box-shadow: 2px 2px 3px white;
}

i:active {
  border-color: gray;
  box-shadow: none;
}
.arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.player-container .forward {
  width: 60px;
  height: 60px;
  font-size: 30px;
  color: whitesmoke;
  position: absolute;
  top: 60%;
  right: 0;
  opacity: 70%;
}

.player-container .play{
  position: absolute;
  height: 20%;
  top: 41%;
  left: 40%;
  
}
.player-container .replay {
  position: absolute;
  height: 20%;
  bottom: 0;
  left: 40%;
  opacity: 40%;
  cursor: pointer;
}
.player-container .replay:hover {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.295);
  opacity: 90%;
}
.player-container .replay:active {
  background-color: gray;
}

.player-container svg {
  position: absolute;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  pointer-events: none;
}
.player-container svg circle {
  transition: all 0.2s ease-in-out;
}
.time-display {
  color: white;
  position: absolute;
  font-size: 50px;
  top: 10%;
  opacity: 80%;
}

video {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  z-index: -10;
}
@media only screen and (max-width: 1020px){
  .app {
    height:90vh;
   
  }
  button {
    outline: none;
  }
  
  .time-select,
  .sound-picker {
    height: 80%;
    
  }
  .time-select button,
  .sound-picker button {
    width: 30%;
    height: 10%;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .sound-picker button {
    height: 90px;
    width: 90px;
    padding: 15px;
    border-radius: 50%;
  }
  
  .sound-picker button img {
    height: 90%;
  }
    
  .player-container {
    height: 60%;
  }
  
  i {
    top: 48%;
    right: 7%;
  }
  
  i.arrow-right.right {
    top: 48%;
    right: 0;
  }

  .player-container .play{
    position: absolute;
    height: 15%;
    top: 43%;
    left: 42%;
    
  }

  .player-container .forward {
    width: 50px;
    height: 50px;
    font-size: 26px;
  }

  .player-container .replay {
    height: 15%;
    bottom: 0;
    left: 43%;
  }

    
  .player-container svg {
    height: 50%;
    top: 50%;
    left: 50%;
  }
  
  .time-display {
    font-size: 30px;
    top: 10%;
    opacity: 80%;
  }
  
}
@media only screen and (max-width: 860px){
  .app {
    height:75vh;
   
  }
  button {
    outline: none;
  }
  
  .time-select,
  .sound-picker {
    height: 80%;
    
  }
  .time-select button,
  .sound-picker button {
    width: 30%;
    height: 7%;
    font-size: 14px;
    border-radius: 5px;
  }
  
  .sound-picker button {
    height: 70px;
    width: 70px;
    padding: 10px;
    border-radius: 50%;
  }
  
  .sound-picker button img {
    height: 90%;
  }
  
  
  .player-container {
    height: 50%;
  }
  
  i {
    top: 46%;
    right: 7%;
    border-width: 0 6px 6px 0;
  }
  
  i.arrow-right.right {
    top: 46%;
    right: 2%;
    border-width: 0 6px 6px 0;
  }

  .player-container .forward {
    width: 30px;
    height: 30px;
    font-size: 20px;
    right: 7%;
  }

  .player-container .play{
    position: absolute;
    height: 12%;
    top: 43%;
    left: 45%;
    
  }
  .player-container .replay {
    height: 12%;
    bottom: 0;
    bottom:15%;
    left: 46%;
  }
    
  .player-container svg {
    height: 40%;
    top: 50%;
    left: 50%;
  }
  
  .time-display {
    font-size: 25px;
    top: 10%;
    opacity: 80%;
  }
  
}
@media only screen and (max-width: 760px){
  .app {
    height:65vh;
   
  }
  button {
    outline: none;
  }
  
  .time-select,
  .sound-picker {
    height: 80%;
    
  }
  .time-select button,
  .sound-picker button {
    width: 30%;
    height: 7%;
    font-size: 12px;
    border-radius: 5px;
  }
  
  .sound-picker button {
    height: 70px;
    width: 70px;
    padding: 10px;
    border-radius: 50%;
  }
  
  .sound-picker button img {
    height: 90%;
  }
    
  .player-container {
    height: 50%;
  }
  
  i {
    top: 46%;
    right: 10%;
    border-width: 0 4px 4px 0;
    padding: 4px;
  }

  i.arrow-right.right {
    top: 46%;
    right: 6%;
    border-width: 0 4px 4px 0;
    padding: 4px;
  }  
  
  .player-container .play{
    position: absolute;
    height: 12%;
    top: 43%;
    left: 45%;
    
  }
  .player-container .replay {
    height: 12%;
    bottom: 0;
    bottom:15%;
    left: 46%;
  }
    
  .player-container svg {
    height: 40%;
    top: 50%;
    left: 50%;
  }
  
  .time-display {
    font-size: 25px;
    top: 10%;
    opacity: 80%;
  }
  
}